* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
}
.dictionary-container{
    list-style-type: none;

}
.dictionary-item{
    display: flex;
}
.dictionary-image{
    flex-shrink: 0;
}
.dictionary-entry{
    flex-grow: 1;
}