* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
}

div{

    color: white;
    font-size: 100px;
    font-family:monospace;
    width: 400px;
}
.dov{
    display:flex;
    height: 70vh;
    width: 100vw;
    flex-direction: row;
    width: 1200px;

}
.itemA{
    background-color: red;
    flex-shrink: 0;
}
.itemB{
    background-color: plum;
}
.itemC{
    background-color: purple;
}
.itemD{
    background-color: green;
}
.itemE{
    background-color: brown;
    flex-shrink: 1;
}
.itemF{
    background-color: black;
    flex-shrink: 2;
}