*{
    margin:0;
    padding:0;
}
ul{
    border: 1px solid black;
    list-style-type: none;
    text-transform: uppercase;
    /*Padding*/
    padding-top: .75em;
    padding-bottom: .75em;
     /*marging*/
    margin-top: .75em;
    margin-right: 2em;
    margin-bottom: 1em;
    margin-left: 2em;
    text-align: center;
}

li{
    display: inline-block;
    padding-right: 1em;
}

li:first-child{
    padding-left: 1em;
}
div{
    margin-top: 1em;
    margin-right: 2em;
    margin-left: 2em
}